$c-orange: #F9995D;
$c-main-dark: #14171F;
$c-main: #292E3D;
$c-main-light: #3D445C;
$c-white: #FFFFFF;
$c-natural: #858EAD;
$c-blue: #2947A9;
$c-blue-light: #3559C7;
$c-gray: #F6F8F7;
$c-border: #E0E3EB;