
.custom_btn {
  width: 200px;
  height: 100px;
  line-height: 100px;
  background: none;
  position: relative;
  transition: all .5s;
  color: white;
  overflow: hidden;
}

.custom_btn:before,
.custom_btn:after {
  position: absolute;
  transition: all .4s;
  mix-blend-mode: difference;
  top: 0;
  bottom: 0;
  content: '';
}

.custom_btn:before {
  background: black;
  left: 0;
  right: 70%;
}

.custom_btn:after {
  background: white;
  left: 30%;
  right: 0;
}

.custom_btn:hover:before {
  right: 0;
  left: 70%;
  transform: rotate(360deg);
}

.custom_btn:hover:after {
  left: 0;
  right: 30%;
  transform: rotate(-360deg);
}
