.about {
	padding-top: 74px;
	padding-bottom: 202px;

    @include breakpoint('md') { 
        padding-top: 37px;
		padding-bottom: 37px;
    }
	&__body {
		display: flex;
		position: relative;
		@include breakpoint('lg') { 
			flex-wrap: wrap;
		 }
	}
	&__img {
		@include breakpoint('xl') {
			max-width: 70%;
			padding-top: 100px;
		}
		@include breakpoint('lg') { 
			order: 1;
			max-width: unset;
			padding-top: 0;
		}
		img {
			@include breakpoint('lg') { 
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	&__content {
		position: absolute;
		right: 0;
		top: 73px;
		@include breakpoint('xl') {
			top: 0;
		}
		@include breakpoint('lg') { 
			position: static;
			width: 100%;
			order: 0;
			margin-bottom: 15px;
		}
	}
}

.about-content {
	color: $c-white;
    background: $c-blue;
	padding: 50px 60px 60px 40px;
	width: 488px;
	@include breakpoint('lg') { 
		width: unset;
	 }
	&__title {
		font-weight: 700;
		margin-bottom: 37px;
	}
	&__text {
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 74px;
		}
	}
	&__btn {}
}