
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  vertical-align: top;
  max-width: 100%;
}

ul, ol {
  list-style: none;
}

body {
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
}
