* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: #070707;
}

.container {
  width: 970px;
  max-width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 34px;
}

#header {
  position: sticky;
  top: 0;
  background: #fff;
}

#header .container {
  border-bottom: 1px solid #828282;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  color: #828282;
  text-decoration: none;
  padding: 27px 21px;
  letter-spacing: 0.15px;
}

nav a:hover {
  color: #070707;
}

.intro {
  padding-top: 10px;
}

.intro h1 {
  margin-bottom: 45px;
  margin-top: 0;
}

.intro img {
  width: 100%;
  display: block;
}

.about {
  background: #F6F6F6;
  padding: 99px 0;
  text-align: center;
}

.about h2 {
  margin-bottom: 43px;
}

.about p {
  max-width: 480px;
  margin: 0 auto;
}

.about p:not(:last-child) {
  margin-bottom: 30px;
}

.skills {
  text-align: center;
  padding: 99px 0 101px;
}

.skills h2 {
  margin-bottom: 13px;
}

.skills p {
  margin-bottom: 49px;
}

.skills ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: stretch;
  color: #828282;
  font-size: 14px;
  font-weight: 700;
  justify-content: space-between;
}

.skills li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills li p {
  margin-bottom: 59px;
}

.skills li img {
  margin-bottom: 25px;
}

.skills__stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.skills__stars span {
  width: 26px;
  height: 26px;
  display: block;
  background-size: cover;
  background-position: center center;
  background-image: url("./../img/icon/star-gray.png");
}
.skills__stars span:not(:last-child) {
  margin-right: 10px;
}

.skills__stars span.--active {
  background-image: url("./../img/icon/star-black.png");
}

.portfolio {
  background: #F6F6F6;
  text-align: center;
  padding-top: 99px;
  padding-bottom: 98px;
}

.portfolio h2 {
  margin-bottom: 43px;
}


.portfolio img {
  display: block;
  width: 100%;
  margin-bottom: 40px;
}

.portfolio a {
  color: #070707;
}

.portfolio-list > div:not(:last-child) {
  margin-bottom: 70px;
}

#footer {
  text-align: center;
  padding-top: 99px;
  padding-bottom: 101px;
}

.contacts h2 {
  margin-bottom: 13px;
}

.contacts .text {
  margin-bottom: 55px;
}

.contacts button {
  font-weight: 700;
  background: #070707;
  color: #ffffff;
  border-radius: 22px;
  box-shadow: none;
  border: none;
  padding: 12px 16px;
  letter-spacing: 1.9px;
  margin-bottom: 29px;
}

.contacts .socials {
  display: flex;
  margin: 0 auto 59px;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.contacts .socials img {
  display: block;
}

.contacts .socials li:not(:last-child) {
  margin-right: 49px;
}

.contacts .likes {
  text-align: center;
  color: #828282;
  font-size: 14px;
}
.contacts .likes a {
  text-decoration: none;
  color: #828282;
}
